@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Inter;
    background: #040932;
    color: white;
    width: 100%;
    overflow-x: hidden;
}

.small {
    font-weight: normal;
    font-size: 80%;
}

a {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.txt-logo {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 5px;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.container {
    width: 50%;
    display: flex;
    flex-direction: row;
}

div.icons-nav {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    font-size: 35px;
    color: #040932;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    height: 130px;
    background: #0f1243;
    text-align: center;
    padding: 5px;
    box-shadow: 0px 0px 3px black;
}

.header h2 {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.info {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.info p {
    padding: 5px;
}

.content {
    margin-top: 15px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.content .box-case {
    width: 200px;
    padding: 10px;
    background: #0f1243;
    border-radius: 5px;
    margin-right: 15px;
}

.content .box-case div {
    font-weight: bold;
    font-size: 45px;
}

.content .box-case div.icons {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    font-size: 25px;
    color: #040932;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-view {
    display: none;
}

.info-mobile {
    display: none;
}

.mobile-view .content .box-case {
    width: 200px;
    padding: 10px;
    background: #0f1243;
    border-radius: 5px;
}

.mobile-view .content .box-case div {
    font-weight: bold;
    font-size: 40px;
}

@media only screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    .view {
        display: none;
    }

    .mobile-view {
        display: initial;
    }

    .mobile-view .content .box-case {
        margin-right: 5px;
        margin-left: 10px;
    }

    .info {
        display: none;
    }

    .info-mobile {
        display: initial;
        flex-direction: column;
    }

    .info-mobile div {
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .info-mobile div p {
        padding: 0;
        margin: 10px;
    }

    .header {
        height: 150px;
    }

    .container {
        width: 90%;
    }

    .icons-content {
        margin-left: 15px;
    }

}
